# Auto detect text files and perform LF normalization
* text=auto
dashboard/static/* linguist-vendored=true
dashboard/static/* -linguist-detectable=true
dashboard/static/plugins linguist-vendored=true
*.css linguist-detectable=false
*.js linguist-detectable=false